@font-face {
  font-family: "NunitoSans";
  font-style: normal;
  src: url(../assets/fonts/nunitoSansLatin400.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "NunitoSans", Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
}

/* page awal */

.wrapper {
  padding: 0 50px;
  margin: 0 auto;
  max-width: 900px;
  min-height: 100%;
  background-image: url("../img/background.svg");
  background-size: 1280px;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #ecececff;
}

header nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.judul {
  padding-top: 20px;
  text-align: center;
  font-size: 1.7em;
  color: white;
}

.judul a {
  display: block;
  text-decoration: none;
}

.iconjudul {
  display: block;
  background-color: white;
  color: #8256e1ff;
  padding: 3px;
  border-radius: 5px;
}

.tengah {
  flex: 2;
}

.subjudul {
  display: flex;
  justify-content: space-between;
}
.subjudul p {
  font-size: 1.3em;
  color: white;
  margin-bottom: 10px;
}

.subjudul span {
  padding: 5px;
  border-radius: 5px;
  color: #8256e1ff;
  font-weight: 600;
  background-color: white;
}

.subjudul img {
  width: 60px;
}

.container {
  margin: 15px 0;
}

.beranda {
  margin: 20px 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

.beranda img {
  width: 100%;
}

.menus {
  display: flex;
}

.menu {
  width: 100%;
  height: 100%;
}

.card {
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: white;
}

.card a {
  text-align: center;
  display: block;
  text-decoration: none;
}
.card a img {
  text-align: center;
  width: 90px;
  background-color: #8256e1ff;
  padding: 10px;
  border-radius: 5px;
}
.card span {
  margin-top: 10px;
  display: block;
  text-align: center;
  background-color: #8256e1ff;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

footer button {
  width: 100px;
  display: block;
  background-color: white;
  border: none;
  color: #8256e1ff;
  padding: 10px;
  text-align: center;
  font-size: 1.1em;
  cursor: pointer;
}

button i {
  line-height: 60px;
}

footer p {
  text-align: center;
  display: block;
  padding: 5px 0;
  text-align: center;
  color: #8256e1ff;
  margin-top: 20px;
  font-size: 15px;
}

/* utility */
.m-t {
  margin-top: 20px;
}

.m-r {
  margin-right: 20px;
}

.m-l {
  margin-left: 20px;
}

.m-b {
  margin-bottom: 20px;
}

/* page selanjutnya */
.menulist {
  display: flex;
  align-items: center;
}
.avatar {
  width: 50px;
  padding: 5px;
  border-radius: 5px;
  background-color: #8256e1ff;
  margin-right: 10px;
}
.bodylist {
  flex: 2;
}
.bodylist p:first-child {
  font-size: 1.3em;
  font-weight: 700;
  color: #8256e1ff;
}
.bodylist p:last-child {
  font-size: 0.9em;
}

.menulist i {
  color: #8256e1ff;
  font-size: 1.5em;
  margin-left: 10px;
}

/* page quizz */
.formkode {
  width: 100%;
}
.formkode label {
  display: block;
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 10px;
}
.formkode input {
  text-align: center;
  width: 100%;
  padding: 10px;
  border: 5px;
  border-radius: 5px;
  height: 50px;
  font-size: 25px;
  display: block;
  border: 2px solid #8256e1ff;
  margin-bottom: 10px;
}
.formkode input:focus {
  border: 2px solid #8256e1ff;
  outline: 1px solid #8256e1ff;
}

.formkode button {
  border: 2px solid #8256e1ff;
  outline: 1px solid #8256e1ff;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  background-color: #8256e1ff;
  color: white;
  font-size: 20px;
}
.formkode button:active,
.formkode button:hover {
  background-color: #6643b0ff;
  color: white;
  font-size: 20px;
}

/* untuk soal */
.hidden {
  visibility: hidden;
}
.soal {
  height: 100vh;
}

/* page tentang */
.tentang {
  display: flex;
}
.tentang h5 {
  font-size: 30px;
  text-align: center;
}
.tentang img {
  border: 3px solid #8256e1ff;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  height: 150px;
}
.keterangan {
  padding: 10px;
  border: 3px solid #8256e1ff;
  border-radius: 10px;
  width: 100%;
  margin-left: 10px;
}

.keterangan p span {
  display: inline-block;
  width: 68px;
  text-align: right;
  margin: 3px 0 !important;
  padding: 2px 5px !important;
}
@media (max-width: 600px) {
  .wrapper {
    padding: 0 20px;
    background-size: 900px;
    min-height: 100%;
  }

  .card a img {
    text-align: center;
    width: 60px;
    background-color: #8256e1ff;
    padding: 10px;
    border-radius: 5px;
  }

  /* page tentang */
  .tentang {
    flex-direction: column;
  }
  .tentang img {
    width: 100%;
    height: 90%;
  }
  .keterangan {
    margin-top: 10px;
    margin-right: 0;
    margin-left: 0;
  }
}
